# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter related
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
.dart_tool/
.buildlog/
.pub-cache/
.pub/
/build/
.macos/Flutter/ephemeral/

# iOS related
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android related
android/.cxx/
android/app/debug/
android/app/profile/
android/app/release/

# Web related
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies
web/generated_plugin_registrant.dart

# Windows related
windows/flutter/generated_plugin_registrant.cc

# Linux related
linux/flutter/generated_plugin_registrant.cc

# Symbolication related
*.symbols

# Obfuscation related
*.map.json

# VS Code related
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
